header {
    background: -webkit-linear-gradient(to right, #2c3e50, #517e85);
    background: linear-gradient(to right, #2c3e50, #4ca1af);

}

body {
    font-family: "Roboto", "Roboto-Bold", 'Helvetica Neue', 'sans-serif';
}


.uvi-low {
    background-color: rgba(0, 128, 0, 0.472);

}

.uvi-med {
    background-color: rgba(255, 255, 0, 0.459);

}

.uvi-high {
    background-color: rgba(255, 145, 0, 0.493);

}

.uvi-vhigh {
    background-color: rgba(255, 0, 0, 0.431);

}

.cardset {
    background-color: #0e6fb4c2;

    
}

.feet {
    text-align: center;
    margin-top: 50px;
    padding-top: 30vh;
    font-size: 1.5rem;
  }





  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  li button {
    float: right;
    border: none;
    height: 4vh;
    cursor: pointer;
    background: #2c3e50;
    color: white;
    font-size: 1em;
    border-radius: 7px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  
  li {
    height: 5vh;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #0e6fb4c2;
    border-radius: 5px;
  }